body {
    margin: 30px auto;
    width: 1080px;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    margin: 0 auto;
    width: 100%;
}

header img {
    float: left;
    padding-top: 15px;
    padding-left: 60px;
}

nav {
    display: inline-block;
    padding-top: 40px;
    padding-left: 30px
}

ul li {
    display: inline-block;
    padding-right: 60px;
    font-size: 22px;
    color: lightgray;
}

/* div {
    margin-bottom: 30px;
} */

div:first-child {
    margin: auto;
    width: 960px;
    margin-top: 30px;
}

section {
    margin: 30px auto;
    width: 960px;
}